/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --background: #ffffff;
    --base: #f5f5f5;
    --light: #f9cbb4;
    --accent: #ea5d19;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

p,
a,
span,
input,
label,
h1,
h2,
h3 {
    font-family: 'Roboto', sans-serif;
    color: #111111;
}

input {
    cursor: pointer;
}

/* Main Duo Page Style */
main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    max-width: 100vw;
}

.content-container-page {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    height: 70vh;
    width: 70vw;
}

/* Page Label Style */
.content-container-label {
    font-size: 12px;
    position: absolute;
    min-width: 100px;
    padding: 10px;
    background-color: #ea5d19;
    margin-top: 40px;
    text-align: right;
    margin-left: -3px;
    border-left: solid 3px orange;
    border-radius: 2px 6px 6px 2px;
}

.content-container-label h1 {
    white-space: nowrap;
    color: whitesmoke;
    margin: 0;
}

/* Content Style */
.first-content {
    justify-content: center !important;
}

.content-container-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    border-radius: 10px 0 0 10px;

    /* background-image: url(https://innobeweeglab.nl/wp-content/uploads/2022/06/Logo-Zwart-Oranje-1-1024x453-1.png); */
    background-size: 200px;
    background-repeat: no-repeat;
    background-position-x: 5%;
    background-position-y: 97%;

    background-color: whitesmoke;
}

.content-container-left h1 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.content-container-left span {
    margin-bottom: 5px;
    font-size: 12px;
}

.content-container-left a {
    text-decoration: none;
    color: #ea611e;
}

.content-container-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0 10px 10px 0;
    overflow: hidden;
    background: linear-gradient(45deg, #ea611e, #f9cbb4);
}

.content-article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    width: 60%;
    margin-top: 100px;
}

.content-article p {
    margin: 0;
}

.survey-info {
    max-width: 60%;
}

/* Button Styles */
.content-btns {
    position: absolute;
    bottom: 18vh;
    width: 35vw;
    text-align: center;
}

.btn {
    width: 160px;
    height: 46px;
    border-radius: 6px;
    border: none;
    color: white;
    font-family: 'Roboto';
    font-size: 18px;
}

.btn:hover {
    border: solid 1px black;
}

.btn:active {
    filter: brightness(0.85);
}

.next-btn {
    background-color: #25d366;
}

.prev-btn {
    background-color: #62697a;
}

.subm-btn {
    background-color: #ea611e;
}

.age-btn {
    height: 33px;
    background-color: darkgray;
    width: 80px;
}

/* Input Field Style */
.input-fld {
    background: unset;
    border: unset;
    border-bottom: 1px solid #222;
    font-size: 16px;
    height: 30px;
    width: 150px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.input-fld::after {
    background-color: blue;
}

#postcode {
    width: 140px;
}

#beweegAfbeelding {
    max-width: 80%;
    max-height: 80%;
}

.nngb-container-title {
    text-align: center;
    max-width: 80%;
}

.nngb-container {
    grid-template-columns: 50% 50%;
}

.nngb-container img {
    max-width: 80%;
    max-height: 200px;
}

.nngb-container-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;

    background-color: whitesmoke;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.nngb-container-item h2 {
    margin-bottom: 0;
}

.nngb-container-item p {
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Identity Card Style */
.space {
    display: grid;
    grid-template-rows: auto auto;
    align-items: center;
    justify-content: center;
}

.id-card {
    display: grid;
    grid-template-columns: repeat(8, minmax(10px, 1fr));
    grid-template-rows: 40px auto;

    background-color: white;
    width: 360px;
    height: 220px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
}

.id-card-title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--accent);
    height: 100%;
    width: 100%;
    margin: 0;
    border-radius: 12px 12px 0 0;
    grid-column: 1/9;
    grid-row: 1/1;
}

.id-card-title h1 {
    margin: 5px;
    text-align: center;
    text-transform: uppercase;
}

.id-photo {
    background: lightgray;
    margin: 10px;
    height: 140px;
    width: 110px;
    border-radius: 7px;
    grid-row: 2/2;
    grid-column: 1/4;

    background-size: cover;
    background-position-x: center;
    background-position-y: 10px;
    background-repeat: no-repeat;
}

.id-info {
    grid-row: 2/2;
    grid-column: 4/8;
}

.id-info p {
    margin-top: 5px;
    margin-bottom: 5px;
}

#id-info-name {
    margin-top: 10px;
    margin-bottom: 8px;
}

/* Avatar Selection */
/* MALE */
#Bs-male {
    background-image: url(./images/avatars/Asset\ 5@4x.png);
}

#Ms-male {
    background-image: url(./images/avatars/Asset\ 9@4x.png);
}

#St-male {
    background-image: url(./images/avatars/Asset\ 7@4x.png);
}

#Ft-male {
    background-image: url(./images/avatars/Asset\ 2@4x.png);
}

#Pt-male {
    background-image: url(./images/avatars/Asset\ 12@4x.png);
}

#Ps-male {
    background-image: url(./images/avatars/Asset\ 2@4x.png);
}

/* FEMALE */
#Bs-female {
    background-image: url(./images/avatars/Asset\ 3@4x.png);
}

#Ms-female {
    background-image: url(./images/avatars/Asset\ 4@4x.png);
}

#St-female {
    background-image: url(./images/avatars/Asset\ 13@4x.png);
}

#Ft-female {
    background-image: url(./images/avatars/Asset\ 6@4x.png);
}

#Pt-female {
    background-image: url(./images/avatars/Asset\ 11@4x.png);
}

#Zv-female {
    background-image: url(./images/avatars/Asset\ 4@4x.png);
}

#Ps-female {
    background-image: url(./images/avatars/Asset\ 11@4x.png);
}







.avatar-selection {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    margin-bottom: 20px;
}

.avatar-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
}

.avatar:checked {
    border: solid 10px green
}

.avatar {
    height: 120px;
    width: 120px;
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    border-radius: 100px;
}
















.item-elements {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    min-height: 130px;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: move;

    width: 50px !important;
    height: 50px !important;

    background-color: white;
    background-size: cover;
    border-radius: 1rem;
    padding: 5px;
}

.move {
    position: absolute;
}

.map {
    height: 100%;
    width: 100%;
}

.wrapper {
    display: grid;
    grid-gap: 5px;

    grid-template-columns: repeat(auto-fill, 60px);
    background: url(./images/Stratum_map.png) no-repeat;
    background-size: cover;
    background-position: center;

    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.wrapper>* {
    height: 200px;
}

.tile {
    width: 60px;
    height: 60px;
    /* border: 1px solid black; */
}

#item0 {
    background-image: url(./images/items/basketball.png);
}

#item1 {
    background-image: url(./images/items/park.png);
}

#item2 {
    background-image: url(./images/items/runner.png);
}

#item3 {
    background-image: url(./images/items/slide.png);
}

#item4 {
    background-image: url(./images/items/climbing.png);
}

#item5 {
    background-image: url(./images/items/football-player.png);
}

#item6 {
    background-image: url(./images/items/skateboarding.png);
}

#item7 {
    background-image: url(./images/items/swimming.png);
}


















.footer-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #f9cbb4;
}

.footer-section-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-section-logo img {
    margin: 15px 10px 10px 10px;
    max-width: 180px;
}

#copyright {
    font-family: 'Roboto', sans-serif;
    font-weight: unset;
    font-size: 14px;
    margin-bottom: 5px;
}

#illustrations {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.footer-section-links {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.footer-section-links article {
    display: flex;
    flex-direction: column;
}

.footer-section-links h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

.footer-section-links a {
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 14px;
    color: black;
}

.footer-section-links a:hover {
    text-decoration: underline;
}